{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="Flour & Ferment offers premium sourdough supplies, including sourdough starter kits, baking equipment and cookbooks. Based in Dublin, Ireland, we provide everything you need to bake the perfect loaf.">
{% endblock %}

{% block content %}
<section class="d-flex align-items-center justify-content-center text-center" id="hero-container">
    <div id="title-container">
        <h1 class="display-3 display-md-2 logo-font text-black" id="homepage-title">Flour & Ferment</h1>
        <div class="my-5">
            <h4 class="mt-n4">
                <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-1 text-uppercase py-2">Shop Now</a>
            </h4>
        </div>
    </div>
</section>


{% endblock %}