{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description"
    content="Flour & Ferment offers premium sourdough supplies, including sourdough starter kits, baking equipment and cookbooks. Based in Dublin, Ireland, we provide everything you need to bake the perfect loaf.">
{% endblock %}

{% block extra_title %}| Home{% endblock %}

{% block content %}
<section class="d-flex align-items-center text-center" id="hero-container">
    <div id="title-container" class="col-md-6 offset-lg-1">
        <h1 class="display-4 display-md-2 logo-font text-black" id="homepage-title">Flour & Ferment</h1>
        <div class="row">
            <div class="col-8 mx-auto homepage-slogan">
                <h2 id="slogan">Bake the perfect loaf of sourdough with our starters, cookbooks, and baking equipment.
                </h2>
            </div>
        </div>
        <a href="{% url 'products' %}"
            class="shop-now-button btn btn-orange btn-lg font-weight-bold text-uppercase py-2">Shop Now</a>
    </div>
</section>
{% endblock %}