{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container" id="spacer-header">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100 d-flex align-items-center justify-content-center text-center">
    <div>
        <h1 class="display-3 display-md-2 logo-font text-black mt-2 mt-md-4" id="homepage-title">Flour & Ferment</h1>
        <div class="my-5">
            <h4>
                <a href="" class="shop-now-button btn btn-lg rounded-1 text-uppercase py-3">Shop Now</a>
            </h4>
        </div>
    </div>
</div>


{% endblock %}