/* =======================
   Root Variables
======================= */
:root {
    --white: #FEFDFB;
    --lightgrey: #a7a9a5;
    --darkgrey: #3B342B;
    --hessian: #988671;
    --black: #1F1E1E;
    --orange: #C7500D;
}

/* =======================
   Global Styles
======================= */
html {
    height: 100%;
}

body {    
    color: var(--black);
    font-family: 'Merriweather', Verdana, sans-serif;
}

main {
    background-color: var(--white);
}

.card-img-top {
    object-fit: cover;  /* Ensures images fill the container without distortion */
    height: 18rem;      /* Set a fixed height for all images */
    width: 100%;        /* Ensure images don't stretch */
}

.footer-column {
    margin-top: 1rem;
}


/* =======================
   Hero Section
======================= */
#hero-container {
    background: url('/media/hero-image.webp') no-repeat center center;
    background-size: cover;
    height: 100vh;
    background-position: center calc(50% - 3rem); /* Shift the image up slightly */
}

#title-container {
    position: relative;
    top: -8rem; /* Adjust as needed */
}

/* =======================
   Typography
======================= */
.logo-font {
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    color: var(--black) !important;
}

.text-black {
    color: var(--black) !important;
}

/* =======================
   Navbar & Links
======================= */
.navbar-nav .nav-link,
.input-group > .form-control {
    font-size: 0.9rem; 
}

a {
    color: var(--black) !important;
}

a:hover {
    text-decoration: underline var(--black);
}

a.shopping-cart-icon {
    color: var(--black);
}

a.category-badge > span.badge:hover {
    background: var(--darkgrey) !important;
    color: var(--white) !important;
}

#social-icons {
    margin-top: 1rem;
}

/* =======================
   Footer
======================= */
footer {
    background-color: var(--lightgrey);
    width: 100%;
    padding: 1rem;
    text-align: center;
}

footer a {
    color: var(--black) !important;
}

footer a:hover {
    color: var(--darkgrey) !important;
}

/* =======================
   Buttons
======================= */

.shop-now-button,
.btn-orange {
    background: var(--orange);
    color: white;
}

.shop-now-button {
    min-width: 10rem;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus {
    background: var(--hessian);
    color: white;
}


.btn-outline-black {
    background: var(--white);
    color: var(--black) !important; /* use important to override link colors for <a> elements */
    border: 1px solid var(--black);
}


.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: var(--black);
    color: var(--white) !important;
}

/* =======================
   Icons & Buttons
======================= */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* =======================
   Responsive Design
======================= */

/* Larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Adjust for mobile devices */
@media (max-width: 1024px) {
    #hero-container {
        background-position: center center; /* Reset the background position for mobile */
    }
}
