/* =======================
   Root Variables
   ======================= */
:root {
--white: #FEFDFB;
--lightgrey: #E8E2D9;
--darkgrey: #3B342B;
--hessian: #685B4B;
--black: #1F1E1E;
--orange: #C7500D;
}

html {
    height: 100%;
}

body {    
    background-color: var(--hessian);
    color: var(--darkgrey);
    font-family:'Merriweather', Verdana, sans-serif ;
}

#hero-container {
    background: url('/media/hero-image.webp') no-repeat center center;
    background-size: cover;
    height: 100vh;
    background-position: center calc(50% - 3rem); /* Shift the image up by 4rem */
}


#title-container {
    position: relative;
    top: -8rem; /* Adjust the value as needed */
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

a.shopping-cart-icon {
    color: var(--black);
}

.logo-font {
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    color: var(--black) !important;
}

a:hover {
    text-decoration: underline var(--black);
}

a.category-badge > span.badge:hover {
    background: var(--darkgrey) !important;
    color: var(--white) !important;
}

.shop-now-button {
    background: var(--orange);
    color: white;
    min-width: 10rem;
}


.btn-orange {
    background: var(--orange);
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus {
    background: var(--hessian);
    color: white;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

.text-black {
    color: var(--black) !important;
}

/* Navbar text slightly smaller */
.navbar-nav .nav-link,
.input-group>.form-control {
    font-size: 0.9rem; 
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: var(--white);
    z-index: -1;
}





/* -------------------------------- Media Queries */

/* From Boutique Ado */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

/* Adjust for mobile devices */
@media (max-width: 1024px) {
    #hero-container {
        background-position: center center; /* Reset the background position for mobile */
    }
}
  